/* правила для медиа запросов */
@media (min-width: 768px) {
	main {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1240px) {
	main {
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
		min-height: calc(100vh - 240px);
	}

	main,
	header,
	footer {
		padding: 30px calc(50% - 600px);
	}
}
