/* Переменные */

:root {
	--white-color: #fff;
	--main-text-color: #000;
	--bg-main-color: #f8f7f7;
	--bg-second-color: #191414;
	--bg-popup-form: #d7d8d9;
	--text-light-color: #f8f7f7;
	--text-second-color: #7b8e98;
	--color-outline: #cfd8dc;
	--accent-color: #3554ec;
	--color-favorite: #2bab07;
	--color-favorite-focus: rgb(38, 146, 44);
	--text-color-btn-hover: #2e302e;
	--bg-color-btn-hover: #a8a6a6;
}
