/* сюда подключаем все импортируемые файлы css */

@import "./_normalize.css";
@import "./_fonts.css";
@import "./_variables.css";
@import "./_globalRes.css";

/* components imports */
@import "./components/_body.css";
@import "./components/_container.css";
@import "./components/_header.css";
@import "./components/_main.css";
@import "./components/_footer.css";
@import "./components/_popup.css";
@import "./components/_popupForm.css";
@import "./components/_buttons.css";
@import "./components/_card.css";
@import "./components/_formLogin.css";
