.header {
	box-shadow: 0 0 2px 0 var(--bg-second-color);
	background-color: var(--bg-main-color);
	padding-top: 20px;
	padding-bottom: 20px;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* блок кнопок вход и добавить котика */
.header__box-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-wrap: nowrap; */
	flex-wrap: wrap;
	gap: 20px;
}

@media (max-width: 600px) {

	.header__container {
		flex-wrap: wrap;
	}

	.header__box-btn {
		margin-left: auto;
	}

	.logo {
		margin-right: 20px;
	}

}

.user__hello {
	font-size: 0.9rem;
	color: var(--text-color-login);
}

.user__unlog {
	padding: 5px;
	border-radius: 5px;
	color: var(--text-color-not-login);
	/* background-color: #000; */
}
