.main {
	flex: 1;
	padding-top: 40px;
	padding-bottom: 40px;
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
	/* gap: 30px; */
	gap: 20px;
	min-height: calc(100vh - 240px);
	pointer-events: none;
}

.pointer {
	cursor: pointer;
	pointer-events: auto;
}
