.popup {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, background-color, visibility;
	transition-timing-function: linear;
	transition-duration: 0.7s;
}

.popup_active {
	opacity: 1;
	visibility: visible;
	transition-property: opacity, background-color, visibility;
	transition-timing-function: linear;
	transition-duration: 0.7s;
}

.popup__container {
	max-width: 600px;
	position: relative;
	padding: 20px;
	background-color: var(--bg-popup-form);
	-webkit-box-shadow: 3px 3px 2px 2px rgba(14, 14, 14, 0.51);
	-moz-box-shadow: 3px 3px 2px 2px rgba(14, 14, 14, 0.51);
	box-shadow: 3px 3px 2px 2px rgba(14, 14, 14, 0.51);
}


/* @media (min-width: 768px) {
	.popup {
		padding: 30px;
	}

	form {
		grid-template-columns: repeat(3, 1fr);
	}
} */
